@model IEnumerable<QuotesC.ViewModel.EnglishVM>

@{
    ViewBag.Title = "English Quotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-frame-top">
    <div class="page-title">
        <h2><span class="fa fa-image"></span> English Quotes</h2>
    </div>
    <div class="pull-right">
        @*@using (Html.BeginForm("Create", "Arabic"))
            {*@
        <div class="pull-right">
            <button class="btn btn-primary" onclick="Create()"><span class="fa fa-upload"></span> Upload</button>
            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
        </div>
        @* } *@
    </div>
</div>

<!-- START CONTENT FRAME BODY -->
<div class="content-frame-body content-frame-body-left" style="margin-right: 0px;">

    <div class="pull-left push-up-10">
        <button class="btn btn-primary" id="gallery-toggle-items">Toggle All</button>
    </div>
    <div class="pull-right push-up-10">
        <div class="btn-group">
            <button class="btn btn-primary"><span class="fa fa-pencil"></span> Edit</button>
            <button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>
        </div>
    </div>

    <div class="gallery" id="links">
        @foreach (var image in Model)
        {
            <a class="gallery-item" href="@Html.DisplayFor(model =>image.imageUrl)" title="@Html.DisplayFor(Model => image.imageName)" data-gallery>
                <div class="image">
                    <img src="@Html.DisplayFor(model =>image.imageUrl)" alt="@Html.DisplayFor(Model => image.imageName)" />
                    <ul class="gallery-item-controls">
                        <li><label class="check"><input type="checkbox" class="icheckbox" /></label></li>
                        <li><span class="gallery-item-remove" onclick="deleteImage('@image')"><i class="fa fa-times"></i></span></li>
                    </ul>
                </div>
                <div class="meta">
                    <strong>@Html.DisplayFor(model => image.imageName)</strong>
                    <span class="quote" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">@Html.DisplayFor(model => image.Quote)</span>
                </div>
            </a>
        }
    </div>

    @*<ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
        </ul>*@
</div>
<!-- END CONTENT FRAME BODY -->
@*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
<script>
    function deleteImage(image) {

    }
    function Create() {
        window.location.href = "/English/Create";
    }
    window.onload = function () {
        document.getElementById("quotes").classList = "xn-openable active";
    };
</script>
