<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quotes</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/theme-default.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/theme-default.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="page-container">
        <div class="page-sidebar">

            <ul class="x-navigation">
                <li class="xn-logo">
                    @Html.ActionLink("Quotes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-title">Navigation</li>
                <li>
                    <a href="@Url.Action("Index","Home")"><span class="fa fa-desktop"></span> <span class="xn-text">Home</span></a>
                </li>
                <li class="xn-openable" id="quotes">
                    <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Quotes</span></a>
                    <ul>
                        <li><a href="@Url.Action("Index","Arabic")"><span class="fa fa-image"></span> Arabic Quotes</a></li>
                        <li><a href="@Url.Action("Index","Chinese")"><span class="fa fa-image"></span> Chinese Quotes</a></li>
                        <li><a href="@Url.Action("Index","English")"><span class="fa fa-image"></span> English Quotes</a></li>
                        <li><a href="@Url.Action("Index","French")"><span class="fa fa-image"></span> French Quotes</a></li>
                        <li><a href="@Url.Action("Index","Hindi")"><span class="fa fa-image"></span> Hindi Quotes</a></li>
                        <li><a href="@Url.Action("Index","Spanish")"><span class="fa fa-image"></span> Spanish Quotes</a></li>
                        <li><a href="@Url.Action("Index","Urdu")"><span class="fa fa-image"></span> Urdu Quotes</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="@Url.Action("Index","Help")"><span class="fa fa-files-o"></span> <span class="xn-text">Success Stories</span></a>
                    <ul>
                        <li><a href="@Url.Action("Index","Arabic")"><span class="fa fa-image"></span> Arabic Success Stories</a></li>
                        <li><a href="@Url.Action("Index","Chinese")"><span class="fa fa-image"></span> Chinese Success Stories</a></li>
                        <li><a href="@Url.Action("Index","English")"><span class="fa fa-image"></span> English Success Stories</a></li>
                        <li><a href="@Url.Action("Index","French")"><span class="fa fa-image"></span> French Success Stories</a></li>
                        <li><a href="@Url.Action("Index","Hindi")"><span class="fa fa-image"></span> Hindi Success Stories</a></li>
                        <li><a href="@Url.Action("Index","Spanish")"><span class="fa fa-image"></span> Spanish Success Stories</a></li>
                        <li><a href="@Url.Action("Index","Urdu")"><span class="fa fa-image"></span> Urdu Success Stories</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-content" style="min-height: 789px;">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <!-- END SIGN OUT -->
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="#">Link</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        <script src="~/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="~/js/plugins/jquery/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap.min.js"></script>
        <script src="~/js/plugins/icheck/icheck.min.js" asp-append-version="true"></script>
        <script src="~/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js" asp-append-version="true"></script>
        <script src="~/js/plugins/dropzone/dropzone.min.js" asp-append-version="true"></script>
        <script src="~/js/plugins/fileinput/fileinput.min.js" asp-append-version="true"></script>
        <script src="~/js/plugins/filetree/jqueryFileTree.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/settings.js"></script>
        <script type="text/javascript" src="~/js/plugins/bootstrap/bootstrap-file-input.js"></script>
        <script src="~/js/plugins/validationengine/languages/jquery.validationEngine-en.js" asp-append-version="true"></script>
        <script src="~/js/plugins/validationengine/jquery.validationEngine.js" asp-append-version="true"></script>
        <script src="~/js/plugins/jquery-validation/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/js/plugins.js" asp-append-version="true"></script>
        <script src="~/js/actions.js" asp-append-version="true"></script>
        <script src="~/js/demo_dashboard.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>
    @RenderSection("scripts", required: false)
    <environment>
        <script>
            $(function () {
                $("#file-simple").fileinput({
                    showUpload: false,
                    showCaption: false,
                    browseClass: "btn btn-danger",
                    fileType: "any"
                });
            });
            $(document).ready(function () {
                if (window.location.href.indexOf("Create") > -1) {
                    //alert("in create");
                    var jvalidate = $("#jvalidate").validate({
                        ignore: [],
                        rules: {
                            image: {
                                required: true
                            },
                            imageName: {
                                required: true
                            },
                            Quote: {
                                required: true
                            }
                        },
                        messages: {
                            image: "Please Upload Your Image",
                            imageName: "Please Enter Your Image Name",
                            Quote: "Please Fill this Field"
                        },
                        errorElement: 'div',
                        errorLabelContainer: '#errorMessage'
                    });
                }
            });
        </script>
    </environment>
</body>
</html>
